# dependencies
node_modules
.pnp
.pnp.js

# compiled output
dist
tmp
out-tsc
.next
.sanity

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
*.sublime-workspace
.settings/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
.*cache
connect.lock
coverage
typings
logs
*.log
*.pem
.vercel

# environmental variables
*.env*
!*.env*example

# system files
.DS_Store
Thumbs.db

# typescript
*.tsbuildinfo