.navbar-container {
  width: 100%;
  padding: 1em;
  height: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid #d1d1d8;
  h4 {
    margin-left: 2em;
    font-size: 2rem;
    background: linear-gradient(to right, #fc4a1a, #f7b733);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.8;
  }

  .cart {
    margin-right: 2em;
  }
}
